<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>CRM</title>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="/plugins/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
	
	<!-- 自定义的css -->
	<link rel="stylesheet" href="/css/global.css"/>
	<link rel="stylesheet" href="/css/customerFile/customerFile.css"/>
</head>
<body>
	<!-- 定义面板 -->
	<div class="panel panel-default panel-primary">
		<!-- 面板头部 -->
		<div class="panel-heading">
			<h1 class="text-center">客户关系管理系统</h1>
			<p class="text-center">Customer Relationship Management</p>
		</div>
		<!-- 面板主体 -->
		<div class="panel-body">
			<form role="form" class="col-md-4 col-md-offset-4" action="" method="post" id="addCustomerForm">
	       		<div class="form-group">
	       			<label for="name">用户名</label>
	       			<input type="text" class="form-control" id="name" name="name" placeholder="姓名"/>
	       		</div>
	       		<div class="form-group">
	       			<label for="性别">性别</label>
	       			<select id="sex" name="sex">
	       				<option value="MAN">MAN</option>
	       				<option value="WOMAN">WOMAN</option>
	       			</select>
   	    		</div>
   	    		<div class="form-group">
	       			<label for="mobile">电话</label>
	       			<input type="text" class="form-control" id="mobile" name="mobile" placeholder="电话"/>
	       		</div>
	       		<div class="form-group">
	       			<label for="email">电邮</label>
	       			<input type="text" class="form-control" id="email" name="email" placeholder="电邮"/>
	       		</div>
	       		<div class="form-group">
	       			<label for="birth">生日</label>
	       			<input type="date" class="form-control" id="birth" name="birth"/>
	       		</div>
	       		<button class="btn btn-default" id="addCustomerButton">添加</button>
	       		<button class="btn btn-default" onClick="history.go(-1)">返回</button>
     	  </form>
		</div>
		<!-- 面板底部 -->
		<div class="panel-footer">
		
		</div>
	</div>

	
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="/plugins/jquery/jquery-1.11.3.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="/plugins/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<!-- 自己的js -->
	<script src="/js/customerFile/customerFile.js"></script>
</body>
</html>