<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>CRM</title>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="/plugins/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
	
	<!-- 自定义的css -->
	<link rel="stylesheet" href="/css/global.css"/>
	<link rel="stylesheet" href="/css/main/main.css"/>
</head>
<body>
	<!-- 定义面板 -->
	<div class="panel panel-default panel-primary">
		<!-- 面板头部 -->
		<div class="panel-heading">
			<h1 class="text-center">客户关系管理系统</h1>
			<p class="text-center">Customer Relationship Management</p>
		</div>
		<!-- 面板主体 -->
		<div class="panel-body">
			<div class="button-group">
				<div class="list-group col-md-4 col-md-offset-2">
  					<a href="/userFilePage" class="list-group-item">
						<img src="/images/setting.png" class="img-responsive"/><font class="text-center">系统设置</font>
					</a>
					<div class="space"></div>
  					<a href="/businessInfoPage" class="list-group-item">
						<img src="/images/info.png" class="img-responsive"/><font class="text-center">业务知识管理</font>
					</a>
					<div class="space"></div>
  					<a href="/customerComplaintPage" class="list-group-item">
						<img src="/images/service.png" class="img-responsive"/><font class="text-center">客户服务管理</font>
					</a>
				</div>
				<div class="list-group col-md-4">
  					<a href="/customerFilePage" class="list-group-item">
						<img src="/images/files.png" class="img-responsive"/><font class="text-center">客户资料管理</font>
					</a>
					<div class="space"></div>
  					<a href="/customerTrackPage" class="list-group-item">
						<img src="/images/tracking.png" class="img-responsive"/><font class="text-center">客户跟踪管理</font>
					</a>
				</div>
			</div>
		</div>
		<!-- 面板底部 -->
		<div class="panel-footer">
		
		</div>
	</div>

	
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="/plugins/jquery/jquery-1.11.3.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="/plugins/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<!-- 自己的js -->
	<script src="/js/main/main.js"></script>
</body>
</html>